[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isClonedFrom=-1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=1
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
screensGroup=1
timerHide=300
timerShow=0
viewType=0
visibility=1
wallpaperplugin=org.kde.image

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][4][Configuration]
PreloadWeight=94

[Containments][1][Applets][4][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop
favoritesPortedToKAstats=true
icon=/home/manuel/Downloads/icons8-arch-linux-24.svg
primaryActions=1
systemFavorites=lock-screen\\,logout\\,save-session\\,switch-user

[Containments][1][Applets][73]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][73][Configuration]
PreloadWeight=34

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=18

[Containments][1][General]
advanced=false
alignment=1
alignmentUpgraded=true
appletOrder=4;73
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=30
dragActiveWindowEnabled=true
durationTime=x1
floatingInternalGapIsForced=false
iconMargin=0
iconSize=512
maxLength=1
panelPosition=10
panelSize=100
plasmaBackgroundForPopups=true
screenEdgeMargin=5
scrollAction=ScrollToggleMinimized
shadowOpacity=35
shadowSize=45
shadowsUpgraded=true
showGlow=false
splitterPosition=1
splitterPosition2=4
tasksUpgraded=true
titleTooltips=false
zoomLevel=1

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[LayoutSettings]
activities=
lastUsedActivity=
preferredForShortcutsTouched=false
