[submodule ".themes/Material-GTK-Themes"]
	path = .resources/Material-GTK-Themes
	url = https://github.com/Fausto-Korpsvart/Material-GTK-Themes.git
[submodule ".resources/Arctic-Night-KDE"]
	path = .resources/Arctic-Night-KDE
	url = https://github.com/psyGamer/Arctic-Night-KDE.git
[submodule ".resources/Twilight-kde"]
	path = .resources/Twilight-kde
	url = https://github.com/yeyushengfan258/Twilight-kde.git
[submodule ".resource/papirus-icon-theme"]
	path = .resources/papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
[submodule ".resources/simp1e"]
	path = .resources/simp1e
	url = https://gitlab.com/zoli111/simp1e.git
[submodule ".config/rofi/modules/rofi-network-manager"]
	path = .config/rofi/modules/rofi-network-manager
	url = https://github.com/P3rf/rofi-network-manager.git
[submodule ".config/polybar/modules/polybar-spotify"]
	path = .config/polybar/modules/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify.git
