.root { -fx-font-family: "FuraCode Nerd Font" !important; }
.lineno { -fx-font-family: "FuraCode Nerd Font" !important; }
.h1 { -fx-font-family: "FuraCode Nerd Font" !important; }
.h2 { -fx-font-family: "FuraCode Nerd Font" !important; }
.monospaced { -fx-font-family: "JetBrains Mono" !important; }
